@import "~bootstrap/dist/css/bootstrap.css";
//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

.container {
    padding-top: 20px;
}
body {
    min-height: 75rem;
    padding-top: 3.5rem;
}
.rounded,.float-right {
  padding-top: 0rem;
}
.light-theme {
  background-color: white;
  color:black;

}

.dark-theme {
  background-color: #17202A;
  color:whitesmoke;

}

.list-group-item.active {
    background-color: purple;
    border-color: purple;
}